/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2014 (12.0.5214)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/

USE [master]
GO
/****** Object:  Database [Paperless]    Script Date: 19/08/2018 9:10:54 AM ******/
CREATE DATABASE [Paperless]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Paperless', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Paperless.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Paperless_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Paperless_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Paperless].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Paperless]
GO
USE [Paperless]
GO
/****** Object:  Sequence [dbo].[SEQ_ANSWER]    Script Date: 19/08/2018 9:10:55 AM ******/
CREATE SEQUENCE [dbo].[SEQ_ANSWER] 
 AS [int]
 START WITH 0
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
USE [Paperless]
GO
/****** Object:  Sequence [dbo].[SEQ_FORM]    Script Date: 19/08/2018 9:10:55 AM ******/
CREATE SEQUENCE [dbo].[SEQ_FORM] 
 AS [int]
 START WITH 0
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
USE [Paperless]
GO
/****** Object:  Sequence [dbo].[SEQ_FORM_ASSIGNMENT]    Script Date: 19/08/2018 9:10:55 AM ******/
CREATE SEQUENCE [dbo].[SEQ_FORM_ASSIGNMENT] 
 AS [int]
 START WITH 0
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
USE [Paperless]
GO
/****** Object:  Sequence [dbo].[SEQ_PACK]    Script Date: 19/08/2018 9:10:55 AM ******/
CREATE SEQUENCE [dbo].[SEQ_PACK] 
 AS [int]
 START WITH 0
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
USE [Paperless]
GO
/****** Object:  Sequence [dbo].[SEQ_QUESTION]    Script Date: 19/08/2018 9:10:55 AM ******/
CREATE SEQUENCE [dbo].[SEQ_QUESTION] 
 AS [int]
 START WITH 0
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
USE [Paperless]
GO
/****** Object:  Sequence [dbo].[SEQ_SECTION]    Script Date: 19/08/2018 9:10:55 AM ******/
CREATE SEQUENCE [dbo].[SEQ_SECTION] 
 AS [int]
 START WITH 0
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
USE [Paperless]
GO
/****** Object:  Sequence [dbo].[SEQ_TARGET_THRESHOLD]    Script Date: 19/08/2018 9:10:55 AM ******/
CREATE SEQUENCE [dbo].[SEQ_TARGET_THRESHOLD] 
 AS [int]
 START WITH 0
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  Table [dbo].[ANSWER]    Script Date: 19/08/2018 9:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANSWER](
	[ID] [int] NOT NULL,
	[QUESTION_ID] [int] NOT NULL,
	[PACK_ID] [int] NOT NULL,
	[SEQ] [int] NOT NULL,
	[ANSWER_BY_PROD] [nvarchar](255) NULL,
	[ANSWER_BY_TECH] [nvarchar](255) NULL,
	[ANSWER_DT] [datetime2](7) NULL,
	[VALUE] [nvarchar](255) NULL,
	[COMMENT] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORM]    Script Date: 19/08/2018 9:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORM](
	[ID] [int] NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[DESCRIPTION] [varchar](1000) NOT NULL,
	[AUTHORISED_BY] [varchar](255) NOT NULL,
	[CREATED_BY] [varchar](255) NOT NULL,
	[CREATED_DT] [datetime2](7) NOT NULL,
	[UPDATED_BY] [varchar](255) NOT NULL,
	[UPDATED_DT] [datetime2](7) NOT NULL,
	[EFFECTIVE_DT] [datetime2](7) NOT NULL,
	[EXPIRY_DT] [datetime2](7) NOT NULL,
	[VERSION] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORM_ASSIGNMENT]    Script Date: 19/08/2018 9:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORM_ASSIGNMENT](
	[FORM_NAME_REGEX] [varchar](255) NOT NULL,
	[LINE_NO_REGEX] [varchar](255) NOT NULL,
	[MATERIAL_NO_REGEX] [varchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIST]    Script Date: 19/08/2018 9:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIST](
	[LIST_NAME] [varchar](50) NOT NULL,
	[LIST_TEXT] [varchar](255) NOT NULL,
	[LIST_VALUE] [varchar](255) NULL,
	[DEFAULT_FLAG] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PACK]    Script Date: 19/08/2018 9:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACK](
	[ID] [int] NOT NULL,
	[LINE_NO] [nchar](10) NOT NULL,
	[MATERIAL_NO] [varchar](50) NOT NULL,
	[PRODUCTION_DATE] [date] NOT NULL,
 CONSTRAINT [PK_PACK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PACK_FORM]    Script Date: 19/08/2018 9:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACK_FORM](
	[PACK_ID] [int] NOT NULL,
	[FORM_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PACK_ID] ASC,
	[FORM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUESTION]    Script Date: 19/08/2018 9:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTION](
	[ID] [int] NOT NULL,
	[SECTION_ID] [int] NOT NULL,
	[QUESTION_TYPE] [varchar](1) NOT NULL,
	[LIST_NAME] [varchar](50) NULL,
	[PROMPT] [varchar](255) NOT NULL,
	[TARGET_NAME] [varchar](50) NULL,
	[EFFECTIVE_DT] [datetime2](7) NOT NULL,
	[EXPIRY_DT] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUESTION_TYPE]    Script Date: 19/08/2018 9:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTION_TYPE](
	[QUESTION_TYPE_CODE] [varchar](1) NOT NULL,
	[QUESTION_TYPE_DESC] [varchar](50) NOT NULL,
 CONSTRAINT [PK_QUESTION_TYPE] PRIMARY KEY CLUSTERED 
(
	[QUESTION_TYPE_CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SECTION]    Script Date: 19/08/2018 9:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SECTION](
	[ID] [int] NOT NULL,
	[FORM_ID] [int] NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[TABULAR_FLAG] [bit] NOT NULL,
	[FREQUENCY_MINS] [smallint] NULL,
 CONSTRAINT [PK_SECTION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TARGET]    Script Date: 19/08/2018 9:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARGET](
	[TARGET_NAME] [varchar](50) NOT NULL,
	[TARGET_TYPE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TARGET] PRIMARY KEY CLUSTERED 
(
	[TARGET_NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TARGET_THRESHOLD]    Script Date: 19/08/2018 9:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARGET_THRESHOLD](
	[ID] [int] NOT NULL,
	[TARGET_NAME] [varchar](50) NOT NULL,
	[EVALUATION_ORDER] [int] NOT NULL,
	[MATERIAL_NO_REGEX] [varchar](255) NOT NULL,
	[LINE_NO_REGEX] [varchar](255) NOT NULL,
	[RED_THRESHOLD_1] [float] NOT NULL,
	[RED_THRESHOLD_2] [float] NULL,
	[GREEN_THRESHOLD_1] [float] NOT NULL,
	[GREEN_THRESHOLD_2] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[QUESTIONS_AND_ANSWERS]    Script Date: 19/08/2018 9:10:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER TABLE [dbo].[TARGET_THRESHOLD] ADD  DEFAULT ((1)) FOR [EVALUATION_ORDER]
GO
USE [master]
GO


----------------------------------------
-- ADD REFERENCE DATA
----------------------------------------
USE [Paperless]
GO

INSERT INTO FORM_ASSIGNMENT SELECT '.*', '.*', '.*';

INSERT INTO LIST (LIST_NAME, LIST_TEXT, LIST_VALUE, DEFAULT_FLAG)
SELECT 'YES_NO_BLANK', 'Yes', '1', 0
UNION ALL
SELECT 'YES_NO_BLANK', 'No', '0', 0
UNION ALL
SELECT 'YES_NO_BLANK', '', 'NULL', 1
UNION ALL
SELECT 'YES_NO_NA', 'Yes', '1', 0
UNION ALL
SELECT 'YES_NO_NA', 'No', '0', 0
UNION ALL
SELECT 'YES_NO_NA', 'N/A', 'NULL', 1

INSERT INTO QUESTION_TYPE (QUESTION_TYPE_CODE, QUESTION_TYPE_DESC)
SELECT 'B', 'Boolean (Yes/No)'
UNION ALL SELECT 'C', 'Completion'
UNION ALL SELECT 'D', 'Date'
UNION ALL SELECT 'N', 'Number'
UNION ALL SELECT 'P', 'Picklist'
UNION ALL SELECT 'T', 'Text'
